{
  "src/test/**/ts/**/*": ["eslint --fix", "prettier --write --ignore-unknown"],
  "src/main/**/ts/**/*": ["eslint --fix", "prettier --write --ignore-unknown"],
  "./*": ["prettier --write --ignore-unknown"]
}
